@import url('https://fonts.googleapis.com/css2?family-Open+Sans:wght@300;400;600;700% display=swap');

body{
    font-family: 'Open Sans';
    background: #ece6d9;
}

/* font family still to be checked */
@font-face {
    font-family: hylia-serif;
    src: url("hylia-serif.zip") format("opentype");
}

h1 {
    font-family: hylia-serif;
    letter-spacing: 4px;
}